h1{
color:#1ca6d9;
font-family:Bradley Hand ITC;
font-size:28px;
background-color:#5ed4ff;
border-style:outset;
border-with:40px;
padding:20px;
}

h2{
color:#1ca6d9;
font-family:Bradley Hand ITC;
font-size:28px;
background-color:#5ed4ff;
border-style:outset;
border-with:40px;
padding:20px;
}

p{
color:#1ca6d9;
font-family:Bradley Hand ITC;
font-size:28px;
}
