h1{
color:#1ca6d9;
font-family:Bradley Hand ITC;
font-size:28px;
background-color:#6ef759;
border-style:outset;
border-with:40px;
padding:20px;
}

h2{
color:#1ca6d9;
font-family:Bradley Hand ITC;
font-size:28px;
background-color:#6ef759;
border-style:outset;
border-with:40px;
padding:20px;
}

p{
color:#5ed4ff;
font-family:Bradley Hand ITC;
font-size:28px;
background-color:#0bc2d6;
border-style:outset;
border-with:40px;
padding:20px;
}






#17eb3e
